.offer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    margin-bottom: 120px;
    background: $secondary-div;
    padding: 50px;
    border-radius: 30px;

    h4 {
        font-family: 'Helvetica Bold', sans-serif;
    }

    .btn-primary {
        margin-left: 16px;
    }
}